.App {
  max-width: 960px;
  display: block;
  margin: 0 auto;
  padding: 90px 24px;
}

@media (min-width: 600px) {
  .App__content {
    display: flex;
    flex-wrap: wrap;
  }

  .App__sidebar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30px;
    margin-right: 60px;
    min-width: 200px;
  }

  .App__main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70px;
  }
}
